body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ApartmentList container */
.apartment-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* ApartmentCard styling (you can define this in a separate CSS file) */
/* Add this to your existing CSS file */
.apartment-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-top {
  padding: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-button {
  padding: 20px;
}

.details-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.details-button:hover {
  background-color: #0056b3;
}

.apartment-card h2 {
  font-size: 18px;
  margin: 0;
}

.apartment-card p {
  font-size: 14px;
  margin: 5px 0;
}

.apartment-card img {
  width: 200px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio and cover the specified dimensions */
  display: block;
  margin: 0 auto; /* Center horizontally */
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: #dbdbdb;
}

.favorite-icon:hover {
  fill: #ff9900; /* Change color on hover */
}

.favorite-icon.favorited {
  fill: #ff9900; /* Change the color to indicate favorited */
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* FilterForm styling */
.filter-form {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-form h2 {
  font-size: 18px;
  margin: 0 0 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Navigation bar container */
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
}

/* Logo link styling */
.logo-link {
  text-decoration: none;
}

/* Logo styling */
.logo {
  font-size: 32px;
  color: #007bff;
}

/* Navigation links container */
.nav-links {
  display: flex;
  gap: 20px;
}

/* Navigation link styling */
.nav-link {
  text-decoration: none;
  color: grey;
  font-size: 18px;
  transition: color 0.3s;
}

/* Style on hover for navigation links */
.nav-link:hover {
  color: #0056b3;
}

.apartment-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.apartment-details-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.apartment-details-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info {
  flex: 1;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.floorplan-image {
  flex: 1;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  padding: 20px;
}

.floorplan-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .apartment-details-page {
    flex-direction: column;
    width: 100%;
  }

  .info,
  .floorplan-image {
    flex: 1;
  }
}

.details-btn-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.details-btn {
  display: flex; /* Enable flex layout for button content */
  align-items: center; /* Vertically center the button content */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.details-btn svg {
  width: 20px;
  height: 20px;
}

.details-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .details-btn-container {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    align-items: center; /* Center buttons horizontally on smaller screens */
  }

  .details-btn {
    padding: 8px 16px; /* Adjust padding for smaller screens */
    font-size: 14px;   /* Adjust font size for smaller screens */
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box h2 {
  color: #333;
  margin-bottom: 20px;
}

.login-box .input-container {
  width: 100%;
  margin: 10px 0;
}

.login-box input {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-box button {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.login-box button:hover {
  background-color: #0056b3;
}

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile-page {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-page .logout-button {
  background-color: #ff5733;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.profile-page .user-profile {
  margin-top: 20px;
}

.profile-page .watchlist {
  margin-top: 20px;
}

.profile-page .apartment-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.profile-page .remove-button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.profile-page button {
  margin: 10px;
}

.watchlist-details-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px 0;
}

.filter-form-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-group {
  padding: 10px;
}

.filter-container select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 10px;
}

.filter-container .filter-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
}

.filter-container label {
  display: flex;
  align-items: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .filter-container {
    flex-direction: column; /* Stack elements vertically on small screens */
  }

  .filter-form-inner {
    flex-direction: column;
  }

  .form-group {
    width: 100%; /* Make form groups full width on small screens */
  }

  .filter-container select {
    width: 100%; /* Make selects full width on small screens */
    margin-left: 0;
    margin-top: 10px; /* Add margin between selects */
  }

  .filter-container .filter-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-container button {
    width: 100%; /* Make buttons full width on small screens */
    margin: 10px 0;
  }

  .filter-container label {
    width: 100%;
  }
}

.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.verify-box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verify-box h2 {
  color: #333;
  margin-bottom: 20px;
}

.verify-box .input-container {
  width: 100%;
  margin: 10px 0;
}

.verify-box input {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.verify-box button {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.verify-box button:hover {
  background-color: #0056b3;
}

.review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Set your desired maximum width */
  width: 100%;
  margin: 0 auto;
}

.review {
  border: 1px solid #ddd; /* Add a border for separation */
  margin-bottom: 20px; /* Add some margin between reviews */
  padding: 15px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.review-stars {
  color: #f39c12; /* Set star color */
}

.review-date {
  font-size: 14px;
  color: #888;
}

.review-message {
  word-wrap: break-word; 
}

.write-review-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px; /* Add some space between reviews and the button */
}

.write-review-button:hover {
  background-color: #2980b9;
}

.review-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  height: 60%;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Add media query for better responsiveness */
@media (max-width: 768px) {
  .modal-content {
    max-width: 100%;
    max-height: 100%;
  }
}

.review-modal .review-stars .star {
  font-size: 24px;
  margin-right: 5px;
  cursor: pointer;
  color: grey;
}

.review-modal .review-stars .selected {
  color: #f39c12; /* Set selected star color */
}

.inner-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.review-modal-message {
  width: 50%;
  height: 50%;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  resize: none; /* Disable textarea resizing */
  margin-bottom: 10px;
}